.idea/*
app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
app/config/deploy.rb
behat.yml
web/robots.txt

web/bundles/*
web/import/*
web/export/*
web/assets/compiled/*
web/media/*
web/uploads/*
web/cache/*
web/images/slider/*
web/images/page/*
web/images/uploads/*

bin/behat
bin/doctrine*
bin/phpspec
bin/webunit
bin/phpunit
bin/phpcrodm
bin/phpcrodm.php
bin/jackalope
bin/phpunit
vendor/*
