{% macro list(baners) %}
    {% if baners|length > 0 %}
        <div id="baners">
            <div class="grid-sizer"></div>
            {% for baner in baners %}<div class="item" style="width: {{ baner.width ? baner.width : '100' }}%;">
                    {% if baner.link != "" %}
                        <a href="http://{{ baner.link }}" target="_blank">
                    {% endif %}
                    <img src="{{ asset(baner.webPath) }}" alt="{{ asset(baner.webPath) }}"/>
                    {% if baner.link != "" %}
                        </a>
                    {% endif %}
                </div>{% endfor %}
        </div>
    {% endif %}
{% endmacro %}