{% form_theme form 'SyliusWebBundle::forms.html.twig' %}

<fieldset>
    <a href="{{ path('sylius_backend_import_scan') }}" class="btn input-lg" target="_blank">Запустить обновление картинок</a>
    {{ form_row(form.image, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.file) }}
    <br>
</fieldset>

{{ form_rest(form) }}
