{% macro grid(collections, size = 4) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}{% if collections|length > 0 %}<div class="boxes boxesCat">{% endif %}{% for t in collections %}{% include 'SyliusWebBundle:Frontend/Taxon:_singleBox.html.twig' %}{% endfor %}{% if collections|length > 0 %}</div>{% endif %}{% endmacro %}

{% macro gridSilver(collections) %}

    {% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}<div class="boxes boxesCat">{% for t in collections %}{% include 'SyliusWebBundle:Frontend/Taxon:_singleBoxSilver.html.twig' %}{% endfor %}</div>{% endmacro %}

{% macro gridSub(collections, size = 4) %}

    {% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}<div class="boxes boxesCat">{% for t in collections %}{% include 'SyliusWebBundle:Frontend/Taxon:_singleBoxSub.html.twig' %}{% endfor %}</div>{% endmacro %}
