<div class="wrap_message">
    <div class="message">
        Уважаемые клиенты! Поздравляем вас с Новым годом и Рождеством!<br>
        В данный момент каталоги продукции обновляются. Мы ждем вас 12 января.
    </div>
</div>