<form method="get" action="{{ path("sylius_search") }}" class="form-inline form-filter">
    <input type="text" id="articul" name="text" placeholder="Поиск" class="searchText">
    <span class="search-icon"></span>
</form>
