{% for c in collections %}
    <a href="{{ c.slug }}" {% if filter == c.slug %}class="selected" onclick="return false;"{% else %}onclick="filter(this, '{{ category }}'); return false;"{% endif %}>{{ c.name }}</a>
{% endfor %}