<form method="post" action="{{ path("sylius_catalog") }}" class="form-inline form-filter">
    <input type="text" id="articul" name="articul" placeholder="Поиск по артикулу" class="searchText">
    <button type="submit" class="searchSubmit">ок</button>
</form>
