{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import gridAjax %}

<div class="page" id="page{{ page }}">
    <div class="boxes">
        {{ gridAjax(products, groups) }}
    </div>
</div>

{% if products|length > 40 %}
    {#{% if page + 1 <= count_page %}#}
        <a class="indexByTaxonAjax hide" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': page + 1})|merge({'ajax': 1})|merge(app.request.query.all)) }}"></a>
    {#{% endif %}#}
{% endif %}


