tr.tDnD_whileDrag{
    background: #999;
}
.form-filter-user label{
    width: 100px;
    height: 50px;
}

/* comments window */
.comments .form-horizontal .control-label{
    width: 100%;
    text-align: center;
}
.comments .col-lg-10{
    width: 100%;
}
/* end comments window */

/* news images */
.news_preview li{
    list-style: none;
    display: inline-block;
}
/* end news images */