.flexslider {
    width: 100%;
    margin: 0px auto 0px auto;
    max-width: 100%;
    background: url(/images/sliderBg.jpg) no-repeat;
    background-size: cover;
}
.borderSlider{
    position: relative;
    height: 1px;
    background: #dcdcdc;
    margin-top: 0px;
}
.flexslider .slides > li {
    overflow: hidden;
}

.flexslider .slides > li img {
    height: auto;
    width: 100%;
}
.flexslider .text{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 308px;
}
.flexslider .text .header{
    color: #fff;
    font-family: "Calibri";
    font-size: 30px;
    margin-bottom: 12px;
    text-shadow: 1px 2px 4px rgba(0,0,0,.75);
}
.flexslider .text p{
    color: #fff;
    font-family: "Calibri";
    font-size: 18px;
    margin-bottom: 17px;
    text-shadow: 1px 2px 4px rgba(0,0,0,.75);
}
.flexslider .text .btn{
    border: solid 1px #fff;
    color: #fff;
    font-family: "Calibri";
    font-size: 18px;
    width: 273px;
    border-radius: 0;
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.75); /* drop shadow */
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.75); /* drop shadow */
    box-shadow: 1px 2px 4px rgba(0,0,0,.75); /* drop shadow */
    text-shadow: 1px 2px 4px rgba(0,0,0,.75); /* drop shadow */
}
.flexslider .text .btn:hover{
    color: #fff;
}