.flexslider {
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0px 20px;
    max-width: 1200px;
}
.borderSlider{
    position: relative;
    height: 1px;
    background: #dcdcdc;
    margin-top: 0px;
}
.flexslider .slides > li {
    overflow: hidden;
}

.flexslider .slides > li img {
    height: auto;
    width: 100%;
}
.flexslider .text{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 308px;
}
.flexslider .text .header{
    color: #000;
    font-family: "Calibri";
    font-size: 30px;
    margin-bottom: 12px;
}
.flexslider .text p{
    color: #000;
    font-family: "Calibri";
    font-size: 18px;
    margin-bottom: 17px;
}
.flexslider .text .btn{
    border: solid 1px #000;
    color: #000;
    font-family: "Calibri";
    font-size: 18px;
    width: 273px;
    border-radius: 0;
}