@font-face {
    font-family: 'Calibri';
    src: url(/fonts/calibri.ttf);
}
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
b, strong{
    font-weight: normal;
}
th{
    font-weight: normal;
}
label{
    font-weight: normal;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.progress{
    margin-left: 20px;
    margin-right: 20px;
}
a, a:hover, a:focus{
    text-decoration: none;
    color: #000;
}
.wrap_top{
    height: 38px;
    background: #fff;
    border-bottom: solid 1px #dcdcdc;
}
.wrap_top .top{
    height: 38px;
    line-height: 38px;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
    font-family: Open Sans;
    font-size: 17px;
    overflow: hidden;
    text-align: justify;
}
.wrap_top .top div{
    display: inline-block;
    color: #000;
}
.wrap_top .top .last{
    width: 100%;
}
.wrap_top .top .topCallback .buttonCallback{
    border: 0px;
    background: #fff;
    height: 24px;
    line-height: 24px;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    text-align: center;
    padding: 0px 7px;
    cursor: pointer;
}
.wrap_top .top .topSearch .searchText{
    background: #fff;
    height: 30px;
    width: 155px;
    line-height: 24px;
    color: #000;
    font-family: Open Sans;
    font-size: 17px;
    text-align: left;
    padding: 0px 7px;
    border: solid 2px #e6e6e6;
    top: -1px;
    position: relative;
}
::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}
.wrap_top .top .topSearch .searchSubmit{
    border: 0px;
    background: #5a5a5a;
    height: 24px;
    width: 45px;
    line-height: 23px;
    color: #fff;
    font-family: Open Sans;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.wrap_top .top .topPhone{

}
.wrap_top .top .topCallback{

}
.wrap_top .top .topTimes{

}
.wrap_top .top .topTrash{

}
.wrap_top .top .topMyAccount{

}
.wrap_top .top .topSearch{

}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -130px;
    z-index: 1;
    position: relative;
}
.container .push{
    height: 130px;
    z-index: 0;
}
.logoBox{
    margin: 0px auto;
    height: 85px;
    line-height: 85px;
    display: table-cell;
    padding-right: 110px;
}
.logoBox img{
    vertical-align: middle;
    max-height: 64px;
    height: 80%;
    margin-top: -5px;
}
.wrap_menu{
    background: #000;
}
.menu{
    height: 70px;
    max-height: 70px;
    min-height: 38px;
    line-height: 70px;
    background: #000;
    padding: 0px 20px;
    overflow: hidden;
    max-width: 1200px;
    margin: 0px auto;
}
.menu ul{
    text-align: justify;
    padding: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    display: block;
    width: 100%;
}
.menu ul li{
    list-style: none;
    display: inline-block;
}
.menu ul li a{
    color: #fff; /* text color */
    font-family: "Open Sans";
    font-size: 21px;
}
.menu ul li a:hover{
    color: #01c4ba;
}
.menu ul li.current a{
    color: #01c4ba;
}
.menu ul li.last{
    width: 100%;
}
.flexslider{
    margin-top: 0px!important;
}
.flexslider ul.slides{
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    margin: 0px auto;
    padding: 15px 20px 0px 20px;
    max-width: 1200px;
}
.flexslider ul.slides li{
    list-style: none;
}
.flexslider ul.slides li img{
    width: 100%;
}
.content{
    padding: 20px;
    min-height: 270px;
    font-family: Open Sans;
    font-size: 14px;
    color: #000;
    margin: 20px;
    margin: 20px 0px\0/;
    border: solid 1px #dcdcdc;
}
.catalog{
    padding: 0px 20px;
    padding: 0px\0/;
}
.catalog .head{
    height: 50px;
    line-height: 50px;
    font-family: Open Sans;
    font-size: 20px;
    color: #000;
    padding: 0px;
    margin-bottom: 18px;
    background: #dcdcdc;
}
.catalog .head a:hover,
.product .head a:hover{
    color: #01c4ba;
}
.catalogMain .head{
    background: none;
}
.borderHead{
    position: absolute;
    width: 100%;
    height: 50px;
    background: #dcdcdc;
    z-index: 0;
}
.borderHead2{
    position: absolute;
    width: 100%;
    height: 50px;
    background: none;
    border-bottom: solid 1px #dcdcdc;
    z-index: 0;
}
.latestProducts .head{
    padding: 0px;
    background: none;
}
.catalog .boxes{
    border: solid 1px #dcdcdc;
    border-bottom: 0;
}
.catalog .row{
    margin: 0;
    border-bottom: solid 1px #dcdcdc;
}
.catalog .box{
    width: 33.33%;
    display: inline-block;
    margin-top: -1px;
    margin-bottom: -1px;
}
.latestProducts .box{
    margin-top: 0px;
    margin-bottom: 0px;
}
.catalog .boxCat{
    margin-top: 0px;
    margin-bottom: 0px;
}
.catalog .box0 .inner_box{
    border-right: solid 1px #dcdcdc;
}
.catalog .box1 .inner_box{

}
.catalog .box2 .inner_box{
    border-left: solid 1px #dcdcdc;
}
.catalog .inner_box{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    position: relative;
}

.catalog .inner_box_click{

}
.catalog .topBox{
    position: absolute;
    width: 100%;
}
.catalog .nameBox{
    padding: 10px 10px 0px 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
}
.catalog .nameBox .name{
    display: inline-block;
}
.catalog .nameBox .articul{
    display: inline-block;
    float: right;
}
.catalog .inner_box_click .composition{
    padding: 0px 20px;
}

.catalog .bottomBox{
    padding: 10px;
}

.catalog .bottomBox{
    height: 36px;
    line-height: 36px;
    display: table;
    width: 100%;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    ::i-block-chrome,.catalog .bottomBox{
        bottom: 20px;
    }
}
@media only screen and (min-device-width: 481px) and
(max-device-width: 1024px) and (orientation:landscape) {
    .catalog .bottomBox{
        bottom: 20px;
    }
}
.catalog .bottomBox form{
    float: right;
    padding: 0;
}

.catalog .bottomBox .form-group{
    margin-bottom: 0px;
    margin-top: -3px;
}

.catalog .bottomBox .form-group input[type="number"]{
    line-height: 20px\0/;
}

.catalog .bottomBox *{
    display: inline-block;
    vertical-align: middle;
}

.catalog .bottomBox label{
    display: none;
}

.catalog .bottomBox button[type="submit"],
.catalog .bottomBox input[type="number"]{
    border: solid 1px #000;
    width: 89px;
    height: 34px;
    background: none;
    font-weight: normal;
    border-radius: inherit;
    display: none;
    font-size: 16px;
}
.catalog .inner_box_click .bottomBox button[type="submit"],
.catalog .inner_box_click .bottomBox input[type="number"]{
    display: inline-block;
}
.catalog .bottomBox input[type="number"]{
    width: 79px;
}
.catalog .bottomBox button[type="submit"]{
    line-height: 31px;
}

.catalog .bottomBox button[type="submit"]{
    margin-left: 14px;
}

.catalog .bottomBox .price{
    font-weight: normal;
    height: 36px;
}

.catalog .descriptionBox{
    min-height: 111px;
    background: #fff;
    color: #000;
    padding: 15px 10px;
    position: absolute;
    z-index: 100;
    left: -1px;
    right: -1px;
    border-bottom: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    border-left: solid 1px #dcdcdc;
    display: none;
}
.catalog .inner_box_click .descriptionBox{
    display: block;
}
.catalog .wrap_descriptionBoxBorderTop{
    height: 1px;
    background: #fff;
    display: none;
}
.catalog .inner_box_click .wrap_descriptionBoxBorderTop{
    display: block;
}
.catalog .descriptionBoxBorderTop{
    height: 1px;
    background: #dcdcdc;
    margin: 0 10px;
}

.catalog .descriptionBox .header{
    text-transform: uppercase;
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
}

.catalog .box .clickBox{
    /*display: none;*/
}

.catalog .inner_box:hover{
    /*border: solid 2px #c6c6c6;*/
}
.catalog .inner_box_click:hover{

}
.catalog .box img{
    width: 100%;
    margin: 42px 0px 59px;
    padding: 0;
}
.latestProducts .box img{
    margin: 0;
}
.catalog .boxCat img{
    margin: 0px;
}
.catalog .box .wrap_description{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.catalog .box .description{
    font-family: Open Sans;
    font-size: 20px;
    color: #000;
    max-height: 60px;
    line-height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.wrap_bottomMenu{
    background: #dcdcdc;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
.wrap_bottomMenu .bottomMenu{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
    overflow: hidden;
}
.wrap_bottomMenu .bottomMenu ul{
    padding: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    text-align: justify;
}
.wrap_bottomMenu .bottomMenu ul li{
    list-style: none;
    display: inline-block;
}
.wrap_bottomMenu .bottomMenu ul li a{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
}
.wrap_bottomMenu .bottomMenu ul li a:hover{
    color: #01c4ba;
}
.wrap_bottomMenu .bottomMenu ul li.active a{
    color: #01c4ba;
}
.wrap_bottomMenu .bottomMenu ul li.last{
    width: 100%;
}
.wrap_footer{
    background: #fff;
    height: 80px;
    line-height: 80px;
    position: relative;
}
.wrap_footer .footer{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
    overflow: hidden;
}
.wrap_footer .footer ul{
    padding: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    text-align: justify;
}
.wrap_footer .footer ul li{
    list-style: none;
    display: inline-block;
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    vertical-align: top;
}
.form-group {
    margin-bottom: 22px;
}
.form-group span{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-left: 10px;
}
.form-group span.valid{
    height: 40px;
    width: 27px;
    line-height: 40px;
    display: inline-block;
    position: absolute;
    margin-left: -35px;
    background: url(/images/ok.png) left center no-repeat;
    display: none;
}
.wrap_footer .footer ul li a{
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
}
.wrap_footer .footer ul li.last{
    float: right;
}
/* Product */
.buyBlock form{
    padding: 0!important;
}
.product .head{
    height: 50px;
    line-height: 50px;
    font-family: Open Sans;
    font-size: 20px;
    color: #000;
    padding: 0px;
    margin-bottom: 30px;
}
.product .wrap_description{
    width: 230px;
    display: table-cell;
    padding-top: 25px;
    vertical-align: top;
}
.product .wrap_description .description{
    font-family: Open Sans;
    font-size: 14px;
    color: #000;
    word-wrap: break-word;
    width: 230px;
}
.product .wrap_description .subPreview{
    font-family: Open Sans;
    font-size: 14px;
    color: #000;
    margin-top: 15px;
}
.product .wrap_description .subPreview .blockPreview{
    margin-top: 15px;
}
.product .wrap_description .subPreview .blockPreview img{
    border: solid 2px #aba79b;
    cursor: pointer;
}
.product .pictureProduct{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.product .pictureProduct div{
    display: inline-block;
}
.product .buyBlock{
    width: 170px;
    display: table-cell;
    vertical-align: top;
    padding-top: 25px;
}
.product .buyBlock .name{
    font-family: Open Sans;
    font-size: 24px;
    color: #000;
    margin-bottom: 14px;
}
.product .buyBlock .articul{
    font-family: Open Sans;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
}
.product .buyBlock .price{
    font-family: Open Sans;
    font-size: 18px;
    color: #000;
}
.product .buyBlock .addCart{
    width: 170px;
    height: 45px;
    line-height: 45px;
    background: #000;
    font-family: Open Sans;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 110px;
    border: 0px;
}
.product .buyBlock .form-group{
    display: none;
}

/* bottom menu cart */
.wrap_trash{
    background: #c0de98;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    z-index: 1000;
    display: none;
    padding: 0 20px;
}
.wrap_trash .trash{
    margin: 0 auto;
    position: relative;
    color: #000;
    font-size: 16px;
    max-width: 1160px;
    min-width: 960px;
}

.wrap_trash .trash a.last{
    position: absolute;
    right: 0px;
    color: #000;
    text-decoration: none;
    background: none;
}
.wrap_trash .trash a.last:hover{
    background: none;
    color: #000;
}
/* end bottom menu cart */
.pagination{
    width: 100%;
}

/* Fixed menu */
.f-nav0{ z-index: 2000; position: fixed; left: 0; top: 0; width: 100%;background: #fff;}
.f-nav{ z-index: 2000; position: fixed; left: 0; right: 0; margin: 0px auto; top: 38px;}
/* End Fixed menu */

tr.tDnD_whileDrag{
    background: gray;
}
.topBolvan{
    height: 38px;
}
.product{
    padding: 0px 20px;
    padding: 0px\0/;
}

#top-link a {
    display: block;
    width: 100px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #cbcbcb;
    text-decoration: none !important;
}
#top-link{
    top: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 2001;
    width: 40px;
    opacity: 0.5;
    background: url("/images/top.png") center center no-repeat;
}
#top-link:hover{
    opacity: 1;
}
h4, .container form{
    padding: 0 20px;
    padding: 0\0/;
}
.page-header{
    margin: 0 20px 30px 20px;
    border: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
}
.page-header h1{
    color: #000;
    font-family: "Calibri";
    font-size: 21px;
    margin: 0;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}
.page-header span{
    color: gray;
    font-family: "Calibri";
    font-size: 21px;
}
.well{
    min-height: 84px;
    background: none;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    padding: 50px 88px 50px 88px;
    position: relative;
}
.well .left{
    float: left;
    width: 50%;
    padding-left: 15px;
}
.well .right{
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 15px;
}
.form-actions .left{
    float: none;
    width: 50%;
    padding-left: 0px;
}
.form-actions .left .form-control{
    width: 92%!important;
}
.feedbackForm,
.registerForm{
    margin-top: 25px;
}
.registerForm label{
    display: none;
}
.registerTypeForm label{
    display: block;
    color: #000;
    font-family: "Calibri";
    font-size: 21px;
}
.registerForm .form-actions{
    padding: 50px 0 0 0;
    text-align: left;
    background: none;
    margin: 294px 0 0 0;
    border-top: 0;
    width: 100%;
}
.registerTypeForm .form-actions{
    padding: 50px 0 0 0;
    text-align: left;
    background: none;
    margin: 35px 0 0 -15px;
    border-top: 0;
    width: 100%;
}
.feedbackForm .form-actions{
    border-top: 0;
}
.cartForm .form-actions{
    margin: 11px 0 0 0;
}
.feedbackForm label[for="remember_me"]{
    display: block!important;
}
.loginForm .form-actions{
    margin: 35px 0 0 0;
}
.loginForm .btn-sm,
.cartForm .btn-sm{
    width: 254px;
    height: 45px;
    background: #fff!important;
    border: solid 2px #bdbdbd;
    border-radius: 0;
    color: #868686;
    font-family: Arial;
    font-size: 18px;
    line-height: 32px;
    margin-left: 6px;
}
.cartForm .btn-sm{
    margin-left: 6px;
}
.cartForm .btn-sm3{
    border: solid 2px #000;
    color: #000;
}
.btn-black{
    background: #000!important;
}
.loginForm .btn-sm2{
    background: #fff!important;
    color: #7b7b7b;
    line-height: 32px;
    border: solid 2px #bdbdbd;
    width: 414px;
    display: block;
    margin-top: 10px;
    margin-left: 0px;
}
.loginForm .pull-right{
    position: absolute;
    right: 85px;
    top: 40px;
}
.feedbackForm h1,
.registerForm h1,
.registerOptForm h1,
.loginForm h1{
    font-size: 29px;
    margin-top: 0;
    margin-bottom: 0;
}
.bgForm{
    /*background: url(/images/bg-feedback.jpg) no-repeat;*/
    /*background-size: contain;*/
}
.feedbackForm hr,
.registerForm hr{
    margin-left: 0px;
    margin-right: 0px;
    border-top: solid 1px#dcdcdc;
    height: 1px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.registerOptForm .form-actions{
    padding: 22px 0 0 0;
    text-align: left;
    background: none;
    margin: 332px 0 0 0;
    width: 100%;
}
.registerForm .form-actions .form-group{
    margin-left: 0;
    margin-right: 0;
}
.registerForm .alert-danger{
    margin: 22px auto 0px auto;
    position: relative;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background: #01c4ba;
}
.form-control{
    width: 89%;
    max-width: 414px;
    height: 38px;
    border: solid 1px #dcdcdc;
    border-radius: 0;
    color: #000;
    font-family: "Calibri";
    font-size: 21px;
    line-height: 25px\0/;
    display: inline-block;
}
::-webkit-input-placeholder {color:#000!important;}
::-moz-placeholder          {color:#000!important;}/* Firefox 19+ */
:-moz-placeholder           {color:#000!important;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000!important;}
.btn-lg{
    color: #fff;
    font-family: "Calibri";
    font-size: 21px;
    border-radius: 0;
    padding: 0;
    background: #01c4ba;
    border: 0;
    width: 150px;
    height: 45px;
}
.btn-success[disabled]{
    border: 0;
    background: #000!important;
}
.btn-success:hover, .btn-success:focus, .btn-success.active{
    background: #01c4ba;
}
.help-block{
    display: none;
}
.form-control.ng-invalid{
    /*border: solid 1px red;*/
}