{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> Редактирование комментария</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_order_comment_edit', {'id': comment.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'SyliusWebBundle:Backend/OrderComment:_form.html.twig' %}
    {{ update() }}
</form>
