<div class="wrap_trash">
    <div class="trash">
        {% set cart = sylius_cart_get() %}
        <span>В вашей корзине <span>{{ cart.getQuantity() }}</span> товар(ов) на сумму <span>{{ cart.total|sylius_price('RUB') }}</span></span>
        <a class="last" href="{{ path("sylius_cart_summary") }}">
            Завершить покупку
        </a>
        <a class="last showTrash" href="{{ path("sylius_cart_summary") }}" target="_blank">
            Посмотреть корзину
        </a>
    </div>
</div>