{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block html %} ng-app="register"{% endblock %}

{% block border %}
    <div class="borderHead borderHead2"></div>
{% endblock %}

{% block content %}
    <div class="page-header">
        {{ 'registration.register_headerType'|trans|raw }}
    </div>
    <form name="form" action="{{ path('fos_user_type_register') }}" method="post" class="form-horizontal registerForm registerTypeForm" ng-submit="submit">
        <fieldset class="well">
            <div class="left">
                <div class="form-group">
                    <label for="type">Выберите тип покупателя</label>
                    <select id="type" name="type" required="required" class="form-control form-control">
                        <option value="0">Розничный покупатель</option>
                        <option value="1">Оптовый покупатель</option>
                    </select>
                </div>
            <div class="form-actions clearfix">
                <button type="submit" class="btn btn-success btn-lg">{{ 'registration.submit'|trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
