{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block border %}
    <div class="borderHead"></div>
{% endblock %}

{% block content %}
    <!-- Catalog -->
    <div class="catalog">
        <div class="head">
            Каталог
        </div>
        {{ render(url('sylius_collection_main')) }}
    </div>

    <div class="content">
        {{ render(url('sylius_page_show_content', {'id' : 'catalog'})) }}
    </div>

{% endblock %}