{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
    <!-- Catalog -->
    <div class="catalog">
        <div class="head">
            {% if app.request.attributes.get('_route') == "sylius_collections" %}
            Коллекции
            {% else %}
            Каталог
            {% endif %}
        </div>
        {{ render(url('sylius_collections_main')) }}
    </div>

    <div class="content">
        {#{{ render(url('sylius_page_show_content', {'id' : 'collections'})) }}#}
    </div>

{% endblock %}