{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
    <h1>Спасибо за ваш заказ! С вами скоро свяжутся.</h1>
{% endblock %}
