{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block content %}
    <div class="col-md-12">{{ alerts.info('Спасибо за ваш заказ! С вами скоро свяжутся.') }}</div>
{% endblock %}
