{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block content %}
    <div class="col-md-12">{{ alerts.info('Ваш заказ успешно оформлен. Номер заказа – '~order.number~', Сумма заказа – '~order.total|sylius_price(order.currency)~'. В ближайшее время менеджер свяжется с Вами для подтверждения заказа.') }}</div>
{% endblock %}
